// .map-component {
//   .map-container {
//     height: 100vh;
//   }

//   .sidebar {
//     background-color: rgba(35, 55, 75, 0.9);
//     color: #fff;
//     padding: 6px 12px;
//     font-family: monospace;
//     z-index: 1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     margin: 12px;
//     border-radius: 4px;
//   }

.pin {
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 50px;
}
h2 {
  margin-top: 3vh;
}

.policeDashboard {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border-radius: 12px;
  background-color: rgb(133, 144, 183);
  color: #fff;
  margin-bottom: 2vh;
  outline: none;
  border: none;
  padding: 0.5vh 1vw;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.button {
  width: 10em;
  height: 3em;
  background-color: rgb(133, 144, 183);
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff;
}
// }
