.map-pin-popup {
  color: $bg;

  br {
    // height: 4100px;
  }
}
h2 {
  margin-top: 3vh;
}

.policeDashboard {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border-radius: 12px;
  background-color: rgb(133, 144, 183);
  color: #fff;
  margin-bottom: 2vh;
  outline: none;
  border: none;
  padding: 0.5vh 1vw;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.button {
  width: 10em;
  height: 3em;
  background-color: rgb(133, 144, 183);
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff;
}
// }
