@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  background-image: url(../../Assist_Logo.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CivilianContainer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(197, 191, 191, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 10vw;
}

h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.CivilianContainer > p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

input {
  background-color: #fff;
  height: 5vh;
  width: 30vw;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  font-family: "Work Sans", sans-serif;
}

button {
  margin-left: auto;
  margin-right: auto;
  width: 27vw;
  height: 6vh;
  border-radius: 12px;
  color: white;
  border: none;
  background-color: #2b507a;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 80px;
}
button > p {
  font-weight: 600;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

textarea {
  outline: none;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
}
