@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.CivilianPage {
  background-image: url(../../Assist_Logo.png);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .CivilianContainer {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(197, 191, 191, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10vw;
  }

  h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
  }

  .CivilianContainer > p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
  }

  input {
    height: 5vh;
    width: 30vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    font-family: "Work Sans", sans-serif;
  }

  .css-6j8wv5-Input > input {
    height: 5vh;
    width: 30vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    font-family: "Work Sans", sans-serif;
    color: #000;
  }
  div[class*="-option"] {
    color: black;
    // <div class=" css-26l3qy-menu" id="react-select-3-listbox"><div class=" css-4ljt47-MenuList"><div class=" css-1n7v3ny-option" aria-disabled="false" id="react-select-3-option-0" tabindex="-1">Evacuation Update</div><div class=" css-yt9ioa-option" aria-disabled="false" id="react-select-3-option-1" tabindex="-1">Shooter Location</div><div class=" css-yt9ioa-option" aria-disabled="false" id="react-select-3-option-2" tabindex="-1">Fatality Report</div><div class=" css-yt9ioa-option" aria-disabled="false" id="react-select-3-option-3" tabindex="-1">Injury Report</div></div></div>
  }

  button {
    margin-left: auto;
    margin-right: auto;
    width: 27vw;
    height: 6vh;
    border-radius: 12px;
    border: none;
    background-color: #2b507a;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 80px;
  }
  button > p {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
  }

  textarea {
    outline: none;
    border-radius: 8px;
    font-family: "Work Sans", sans-serif;
  }
}
