@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.CivilianPage {
  background: #161826;
  height: 100vh;
  display: flex;

  .logo {
    width: 10vw;
    height: 12vh;
    margin: 0;
  }

  .CivilianContainer {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(133, 144, 183, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 6vw;
    margin: auto;
    max-height: 95vh;
  }

  h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
  }

  .CivilianContainer > p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: "Work Sans", sans-serif;
  }

  input {
    height: 10em;
    width: 35em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: "Work Sans", sans-serif;
    color:black,
  }

  input.registerInput::placeholder{
    color: black;
    opacity: 1;
  }
  textarea.registerTextArea::placeholder{
    color: black;
    opacity: 1;
  }
  .css-6j8wv5-Input > input {
    height: 5vh;
    width: 30vw;
    border-radius: 12px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-family: "Work Sans", sans-serif;
    color: #000;
  }
  div[class*="-option"] {
    color: black;
    font-family: "Work Sans", sans-serif;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 10em;
    border-radius: 12px;
    border: none;
    background-color: #2b507a;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 2em;
  }
  button > p {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
  }

  textarea {
    outline: none;
    border-radius: 8px;
    font-family: "Work Sans", sans-serif;
    color:black,
  }
}
